<body>
    <div class="splash-container">
        <div class="splash">
           <p>
                <a routerLink="" (click)='applyNow()'  class="pure-button pure-button-primary" style="margin-top: 450px;">Apply Now</a>
            </p>
        </div>
    </div>
    
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <img width="1000" alt="" class="pure-img-responsive" src="/assets/homeloan.jpg">
    </div>
    
    </body>
  
     <div class="footer l-box is-center ">
        <footer>
        <p>Developed By Maharshii & JUmesh</p>
        </footer>
      </div>  
  